<% include partials/header %>
    <h1>YelpCamp</h1>
    <p>This is the landing page</p>
    <form method="get" action="/campgrounds">
        <button type="submit">View Campgrounds</button>
    </form>
<% include partials/footer %>
